/*<Navbar>*/

#memoji {
  position: relative;
  top: 38px;
  width: 80px;
  margin: 0;
}

#greet {
  position: relative;
  top: 20px;
}

.nav {
  font-family: "Gloria Hallelujah", cursive;
}

.navbar-right {
  height: 100%;
  position: fixed;
  top: 16%;
  right: -3px;
  z-index: 2;
}

.navicons {
  width: 50px;
  height: 50px;
  fill: #66bfbf;
}

.navicons:hover {
  fill: #0097fc;
}

/*<Core Styles>*/

body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  margin: 0 auto 0 auto;
  font-family: "Gloria Hallelujah", cursive;
  font-size: 3rem;
  color: #66bfbf;
  display: inline-block;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  color: #66bfbf;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

a {
  color: #11999e;
}

p {
  line-height: 2;
}

hr {
  margin: 2% auto;
  border-style: none;
  border-top: dotted #eaf6f6 5px;
  width: 5%;
}

table {
  margin: 0 auto;
}

td {
  text-align: center;
}

.icon {
  width: 100px;
}

strong {
  text-decoration: underline;
}

.showcase {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
  width: 100%;
  height: 617px;
}

.headingtext {
  position: absolute;
  top: 35%;
  right: 14%;
  margin: 0;
  text-align: left;
}

.sun {
  width: 300px;
  position: absolute;
  top: 20%;
  left: 30%;
}

#float {
  animation-name: floating;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, -0px);
  }
}

.sm-cloud {
  position: absolute;
  right: 31%;
  top: 4%;
  width: 150px;
  z-index: 0;
}

.md-cloud {
  position: absolute;
  right: 20%;
  bottom: 7%;
  width: 250px;
  z-index: 2;
}

.lg-cloud {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  position: absolute;
  left: 11%;
  bottom: 15%;
  width: 350px;
  z-index: 0;
}

.mountain {
  position: absolute;
  left: 19%;
  bottom: 0;
  width: 700px;
}

.profile {
  position: absolute;
  text-align: center;
  width: 100%;
  padding: 20% 29% 0 32%;
}

.proitem {
  border-radius: 15%;
  border: solid #66bfbf 1px;
  padding: 2.5%;
  margin: 2%;
  text-align: center;
  background-color: white;
  opacity: 0.9;
}

.profile h2 {
  margin: 0;
  margin-top: 0.5em;
  font-size: 1.2rem;
  font-weight: strong;
}

.profilepics {
  width: 70px;
}

#aboutme {
  text-align: center;
  font-size: 4.5rem;
  margin: 6% auto 0;
}

.development {
  padding-top: 2%;
}

.development p {
  padding: 0 30%;
}

#forest {
  margin-top: -3%;
  width: 500px;
}

#roots {
  position: absolute;
  right: 23.5%;
  top: 191%;
  opacity: 0.2;
  z-index: -1;
  width: 600px;
}

.knowledge {
  width: 50%;
  margin: 1rem auto 1rem auto;
  text-align: left;
}

.knowledge p {
  margin-left: 10px;
  padding-top: 20px;
}

#books {
  width: 100px;
  float: right;
}

.grind {
  width: 50%;
  margin: 1rem auto 3rem auto;
  text-align: left;
}

.grind p {
  padding-left: 130px;
  padding-top: 35px;
  font-size: 1.2rem;
}

#controller {
  width: 100px;
  float: left;
}

.mhac {
  width: 248px;
  height: 288px;
  padding: 0.5rem;
  border-radius: 30px;
  margin: 0.3rem;
}

.devmoods {
  margin: 4rem 7rem 2rem;
}

.mhac p {
  margin-bottom: 0;
}

#bakugo {
  background-color: #fac1c1;
}

#todoroki {
  background-color: #b4dab6;
}

#midoriya {
  background-color: #ffeaa7;
}

#allmight {
  background-color: #b0e6fc;
}

.growandbuild {
  padding: 1rem 8rem 2rem;
  text-align: left;
}

.growandbuild div {
  border: solid #66bfbf 1px;
  margin: 1.5%;
  padding: 1.5%;
  padding-bottom: 0;
  border-radius: 80px;
}

.growandbuild p {
  padding-left: 110px;
}

.gb {
  width: 100px;
  float: left;
}

.skills {
  width: 100%;
  text-align: left;
}

.title {
  padding-left: 16%;
  padding-bottom: 5%;
}

.devabilities {
  padding-right: 14%;
}

.skills h1 {
  font-size: 3.5rem;
}

.bottom-container {
  padding: 0;
  margin: 0;
}

.footer-link {
  display: inline-block;
  width: 10%;
}

.copyright {
  color: #66bfbf;
  margin-bottom: 0;
}
